---
- name: pipe-update-credencial-clb.yml
  hosts:  "{{ variable_host }}"
  become: true
  become_method: su
  gather_facts: false
  vars:
    _master: dumy
    _user: uaprm08m
    _token: "{{ _token_aprm08m }}"
  tasks:
    - name: "{{ ansible_play_name}} : ejecucion pipeline credenciales en master {{ _master }}"
      shell: curl -X POST https://{{ _user }}:{{ _token }}@{{ _master }}.bancogalicia.com.ar:8443/job/ALMA/job/UpdateCredencial/build
#############################################################################################
#    importante : para el paso siguiente de finalizacion UpdateCredencial
#                 se debe tener el log de cloudbees en INFO
#############################################################################################
    - name: "{{ ansible_play_name}} : Espera finalizacion del UpdateCredencial"
      wait_for:
        path: /app/jenkins/logs/cloudbees-core-cm.log
        search_regex: "UpdateCredencial build is completed its status is : SUCCESS"