  
{# comentario #}
----------------->archivo texto1-2.txt.j2
----------------->recibo variable 
                   var1: {{ var1 }}
                   nodo: {{ itemnodo }}
-----------------> texto  1-2            
-----------------> texto  1-2