---
# ansible-playbook playbooks/master/allplaybook-test-2int.yml --ask-vault-pass --user=l0170909 --ask-pass
- name: allplaybook-test.yml
  hosts: labnexus
  become: true
  become_method: su
  gather_facts: false
  tasks:
#-----------------------------------------------------------------
#-----------------------------------------------------------------
- name: bajar servicio Master
  import_playbook: baja-servico-cloudbees.yml
  vars:
    variable_host: intmaster1
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#
#    tarea para cambiar logg.properties a INFO
- name: setear logg.properties en INFO
  import_playbook: modificar-log-properties.yml
  vars:
    variable_host: imasteclb01
    _pathLog: imasti12
    _logNivel: INFO
#
#-----------------------------------------------------------------
#-------------------------------------------------------------------
- name: subir sercicio Master activo - int1 (imasteclb01)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: imasteclb01

- name: subir sercicio Master pasivo - int1 (imasteclb02)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: imasteclb02
    _check: no
#-------------------------------------------------------------------
#-----------------------------------------------------------------
- name: pipe-deploy2xxx-demopy.yml
  import_playbook: pipe-deploy2xxx-demopy.yml
  vars:
    variable_host: imasteclb01
    _master: int-master01
    _proj: almt-test-int
    _pipe: almt-test-int-demopy2int
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#  pause
#-----------------------------------------------------------------
- name: pausa para validar si continuar
  import_playbook: pause.yml
  vars:
    _mensaje: "*** validar si corrio ok el pipe-deploy a int ***"
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#-----------------------------------------------------------------
- name: bajar servicio Master
  import_playbook: baja-servico-cloudbees.yml
  vars:
    variable_host: intmaster1
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#
#    tarea para cambiar logg.properties a SEVERE
- name: setear logg.properties en SEVERE
  import_playbook: modificar-log-properties.yml
  vars:
    variable_host: imasteclb01
    _pathLog: imasti12
    _logNivel: SEVERE
#
#-----------------------------------------------------------------
#-------------------------------------------------------------------
- name: subir sercicio Master activo - int1 (imasteclb01)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: imasteclb01

- name: subir sercicio Master pasivo - int1 (imasteclb02)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: imasteclb02
    _check: no
#-------------------------------------------------------------------
#-----------------------------------------------------------------
