---
# ansible-playbook playbooks/master/allplaybook-test-2dev.yml --ask-vault-pass --user=l0170909 --ask-pass
- name: allplaybook-test.yml
  hosts: labnexus
  become: true
  become_method: su
  gather_facts: false
  tasks:
#-----------------------------------------------------------------
#-----------------------------------------------------------------
- name: bajar servicio Master
  import_playbook: baja-servico-cloudbees.yml
  vars:
    variable_host: devmaster1
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#
#    tarea para cambiar logg.properties a INFO
- name: setear logg.properties en INFO
  import_playbook: modificar-log-properties.yml
  vars:
    variable_host: pmastdclb01
    _pathLog: pmastd12
    _logNivel: INFO
#
#-----------------------------------------------------------------
#-------------------------------------------------------------------
- name: subir sercicio Master activo - dev1 (pmastdclb01)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: pmastdclb01

- name: subir sercicio Master pasivo - dev1 (pmastdclb02)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: pmastdclb02
    _check: no
#-------------------------------------------------------------------
#-----------------------------------------------------------------
- name: pipe-deploy2xxx-demopy.yml
  import_playbook: pipe-deploy2xxx-demopy.yml
  vars:
    variable_host: pmastdclb01
    _master: dev-master01
    _proj: almt-test-dev
    _pipe: almt-test-dev-demopy2dev
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#  pause
#-----------------------------------------------------------------
- name: pausa para validar si continuar
  import_playbook: pause.yml
  vars:
    _mensaje: "*** validar si corrio ok el pipe-deploy a dev ***"
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#-----------------------------------------------------------------
- name: bajar servicio Master
  import_playbook: baja-servico-cloudbees.yml
  vars:
    variable_host: devmaster1
#-----------------------------------------------------------------
#-----------------------------------------------------------------
#
#    tarea para cambiar logg.properties a SEVERE
- name: setear logg.properties en SEVERE
  import_playbook: modificar-log-properties.yml
  vars:
    variable_host: pmastdclb01
    _pathLog: pmastd12
    _logNivel: SEVERE
#
#-----------------------------------------------------------------
#-------------------------------------------------------------------
- name: subir sercicio Master activo - dev1 (pmastdclb01)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: pmastdclb01

- name: subir sercicio Master pasivo - dev1 (pmastdclb02)
  import_playbook: subir-servicio-cloudbees.yml
  vars:
    variable_host: pmastdclb02
    _check: no
#-------------------------------------------------------------------
