---
- hosts: labnexus
  become: true
  become_method: su
  tasks:
    - name: bajar servicio Master
      service: name=cloudbees-core-cm state=stopped 

    - name: remover archivos del workspace
      shell: rm -rf  /app/jenkins_home/workspace/*

    - name: Compress jenkins_home
      archive:
        path: /app/jenkins_home
        dest: /app/jenkins_home.tar.gz

    - name: Compress tar.gz jenkins
      archive:
        path: /app/jenkins
        dest: /app/jenkins.tar.gz

    - name: delete logs jenkins
      shell: rm -rf /app/jenkins/logs/*
      
    - name: Download cloudbees-core-cm de nexus banco galicia
      get_url:
        url: https://nexus.bancogalicia.com.ar/repository/alm/cloudbees-core-cm/2.263.4.2/cloudbees-core-cm.war
        dest: /app/jenkins/  
        checksum: sha256:e4959838f1d4bf61cdc40b81e5729df0a12d692b5454636d3034210bda05bc54

    - name: subir servicio Master
      service: name=cloudbees-core-cm state=started