  maven:
    installations:
    - home: "/app/apache-maven-3.3.9/"
      name: "maven_3_3_9"
    - home: "/app/apache-maven-3.5.0/"
      name: "maven_3_5_0"
    - home: "/app/apache-maven-3.6.3/"
      name: "maven_3_6_3"
