  nodejs:
    installations:
    - home: "/app/node-v14.16.1-linux-x64/"
      name: "node14"
    - home: "/app/node-v10.19.0-linux-x64/"
      name: "node10"
    - home: "/app/node-v8.11.4-linux-x64/"
      name: "node8"
