  msBuildSQRunnerInstallation:
    installations:
    - home: "/app/sonar-scanner-msbuild-4.8.0.12008-netcoreapp2.0/"
      name: "sonarms"
    - home: "/app/sonar-scanner-msbuild-4.8.0.12008-netcoreapp3.0/"
      name: "sonarms3"
    - home: "/app/sonar-scanner-msbuild-4.8.0.12008-net46/"
      name: "sonarmswin"
